.panel-heading-right {
    float: right !important;
    margin-top: -7px;
}

span.image-caption[contenteditable] {
    display: inline-block;
}

span.image-caption[contenteditable]:empty::before {
    content: 'Write a caption for the picture';
    display: inline-block;
}

span.image-caption[contenteditable]:empty:focus::before {
    content: 'Start typing';
}
[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
}
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}